# Explicitly include streamlit-extras
streamlit-extras

# Core Streamlit
streamlit

# Data Manipulation
pandas
numpy
openpyxl
geopandas

# Image Processing
Pillow

# Mapping and Geospatial
folium
streamlit-folium
geopy

# Visualization Libraries
plotly
matplotlib
streamlit-echarts
pyecharts
wordcloud
pandas
streamlit
plotly
streamlit-echarts
Pillow
wordcloud
pyecharts
matplotlib
numpy
nltk
streamlit
pandas
folium
plotly
geopy
openpyxl
geopandas
streamlit-folium
qrcode
Pillow
